h1 {
  /*note: this style only used for navigation now, might split out later.*/
  text-transform: uppercase;
  font-weight: 600;
}

h2 {
  /*note: this style only used for navigation now, might split out later.*/
  font-weight: 400;
}
