nav {
  /*note: primary navigation appears on the bottom of page*/
  z-index: 1;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  height: 4em;
  margin-top: -4em;
  padding: .5em 0;
  background-color: $nav-bg;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.page-title {
  /*this is the logo / title for the page*/
  //align-self:center;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  h1, h2 {
    padding: 0em .4em;
    letter-spacing: .1em;
  }
}

.primary-nav {
  //actual page navigation elements
  align-items: stretch;
  display: flex;
  list-style: none;
  padding-right: 2em;
  flex-grow: 1;
  justify-content: center;
  padding: 0em 1em;

  li {
    display: flex;

    &:hover {
      a {
        color: darken($color4, 10%);
        background-color: $lighter-gray; //hsl(60, 100%, 70%);
        border-radius: .1em;
        -webkit-transition: background-color 300ms, color 250ms; /* Safari */
        transition: background-color 300ms, color 250ms;
      }

      & + li::after {
        background-color: $nav-bg;
        -webkit-transition: background-color 300ms, color 250ms; /* Safari */
        transition: background-color 300ms, color 250ms;
      }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $black;
    font-size: 1em;
    padding: 0em 1em;

    -webkit-transition: background-color 200ms, color 350ms; /* Safari */
    transition: background-color 200ms, color 250ms;
    }
  }

  //previous:has(+ next)

  li:not(:first-child)::after {
    position: absolute;
    align-self: center;
    display: inline;
    content: " ";
    width: 1px;
    height: 1em;
    border-radius: .2em;
    background-color: $lighter-gray;

    -webkit-transition: background-color 200ms, color 250ms; /* Safari */
    transition: background-color 200ms, color 250ms;
  }
}
